.header 
    height: 100vh
    background-position: left top
    background-size: 100vw
    background-position: fixed
    
    h1,h3
        margin-left: 5vw
        top: 25vh
        color: #ffffff
        
    h1 
        font-size: 8vw
        
body 
    margin: 0px
    
.row
    display: flex
    flex-wrap: wrap
    padding: 0 4px
    
.column
    flex: 30%
    max-width: 33%
    padding: 0 4px
    
    img
        margin-top: 8px
        vertical-align: middle
        width: 100%
